<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body


div.wrapper 
- const upDog = dog.toUpperCase();
  p.hello Hello my dog name is #{upDog}
  span#yo Yo!!
  img.dog(src="dog.jpg" alt=`Dog ${dog}`)

h2 
  |are you ok?
  em dope
